<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>

<% if (prev != "/-1") { %>
  <a href="<%= prev %>">Fyrri síða</a>
<% } %>
<a href="<%= next %>">Næsta síða</a>

<div class="link">
  <% if (!authenticated) { %>
    <a class="link__link" href="/login">Innskráning</a>

    <a class="link__link" href="/signup">Nýskráning</a>
    <% } else {%>
      <a class="link__link" href="/logout">Útskrá </a>
    <% if (admin) { %>
      <a class="link__link" href="/admin">Admin síða </a>
      <% } %>
  <% } %>
</div>
<%- include('footer') -%>
