<%- include('header') -%>

<h1>Nýskráning</h1>

<form class="form" method="post" action="signup" autocomplete="off">
  <div class="field">
    <label for="name"> Nafn</label>
    <input type="text" name="name" id="name">
    <% if (errors.length > 0) { %>
      <%= errors.find(x=> x.param == 'name')?.msg %>
      <% } %>
  </div>


  <div class="field">
    <label for="username">Notendanafn</label>
    <input type="text" name="username" id="username">
    <% if (errors.length > 0) { %>
      <%= errors.find(x=> x.param == 'username')?.msg %>
      <% } %>
  </div>


  <div class="field">
    <label for="password">Lykilorð</label>
    <input type="password" name="password" id="password">
    <% if (errors.length > 0) { %>
      <%= errors.find(x=> x.param == 'password')?.msg %>
      <% } %>
  </div>

  <% if (typeof message !== "undefined") { %>
    <p><%= message %></p>
  <% } %>

  <button class="button">Skrá notanda</button>
</form>

<a href="/">Til baka</a>

<%- include('footer') -%>
